.record-page {
  border-right: 1px solid #eee;
  box-sizing: border-box;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: 20px;
  max-width: 634px;
  min-height: calc(var(--vh) * 100);
  padding: 0;
  position: relative;
}
@media screen and (min-width: 580px) {
  .record-page {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
}

.record-page .content {
  flex: 1 1;
  overflow-y: auto;
  padding-bottom: 142px;
  padding-top: 139px;
}
